{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}samer live{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link id="change-color"  href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body >
    <div class="setting">
        <span>غيير اللون</span>
        <p id="tow-color" class="b-color-2 color-2"><span id="buttonActive" class="b-color-1"></span></p>
        
    </div>
    <div class="hedar b-color-1">
        <canvas class="background"></canvas>
        <div class="overlaye ">
            <div class="container">
                <div class="logo">
                    <div class="logo-img1">
                        <img src="../../static/imag/fifa-world-cup.png">
                    </div>
                    
                    <div class="logo-name color-2">
                        <div><h1>كلاسيكو لايف</h1><h2 style="font-family: sans-serif">www.clasico-live.com</h2></div>
                        
                    </div>
                    <div class="logo-img2">
                        <img src="../../static/imag/Champions-League.png">
                    </div>
                </div>
                <div class="navbar">
                </div>
            </div>
        </div>
    </div>
    
    <div class="content color-1">
        <div class="container">
            <div class="message ">

                <ul class="color-1 b-color-2   ">
                    <li class="active">
                       <a href="/">الرئيسية</a> 
                    </li>
                    <li>
                        البث الخاص
                    </li>
                    <li>
                        من نحن
                    </li>
                    <li>
                        ضع أعلاناً
                    </li>
                </ul>
                <div class="soical-media b-color-2 color-1  ">
                    <span>تابعنا</span>
                    <i class="fab fa-facebook active"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-instagram"></i>
                </div>
        
        
            </div>
            <div class="side-bar b-color-1">
                <div class="toggle-button color-1">
                <div name="liga">ترتيب الدوريات</div>
                <div name="goals" class="active" >أهدلف وملخصات</div>
                </div>
                
                    <div class="side-content">

                        <div id="liga" class="lig">
                            <table>
                                <tr>
                                    <th class="table-name" colspan="5">الدوري الانجليزي الممتاز</th>
                                </tr>
                                <tr>
                                    <th>مركز</th>
                                    <th>النادي</th>
                                    <th>لعب</th>
                                    <th>أهداف</th>
                                    <th>نقاط</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>ريال مدريد</td>
                                    <td>45</td>
                                    <td>+88</td>
                                    <td>101</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>ريال مدريد</td>
                                    <td>38</td>
                                    <td>+88</td>
                                    <td>101</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>ريال مدريد</td>
                                    <td>38</td>
                                    <td>+88</td>
                                    <td>101</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>ريال مدريد</td>
                                    <td>38</td>
                                    <td>+88</td>
                                    <td>101</td>
                                </tr>

                            </table>

                        </div>
                    <div id="goals" class="goals active">
                        <div class="card-goals">
                            <div class="goals-title">
                                <h2>مـلـخـص و أهــداف</h2>
                                <p>ريال مدريد</p>
                                <p>vs</p>
                                <p>برشلونة</p>
                            </div>
                            <div class="goals-video">
                                <iframe src="https://www.youtube.com/embed/I9LEezIONFQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="goals-info">
                                <p class="en" style="font-size: 1.3em">2018-5-26</p>
                                <p>تعليق :  عصام الشوالي</p>
                            </div>
                        </div>
                        <div class="card-goals">
                            <div class="goals-title">
                                <h2>ملخص و أهداف</h2>
                                <p>ريال مدريد</p>
                                <p>vs</p>
                                <p>برشلونة</p>
                            </div>
                            <div class="goals-video">
                                <iframe  src="//www.ok.ru/videoembed/759141501548" frameborder="0" allow="autoplay" allowfullscreen></iframe>
                            </div>
                            <div class="goals-info">
                                <p class="en" style="font-size: 1.3em">2018-5-26</p>
                                <p>تعليق :  عصام الشوالي</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list-match">
                <!------------------------------------------------------------- content blok--------------->
            
                {% block content %}

                {% endblock %}
            
                <!------------------------------------------------------------- content blok--------------->
            </div>
            
            
    </div>
    </div>
    <script src="../../../static/jQuery.js"></script>
    <script src="../../static/particles.min.js"></script>
    <script src="../../../static/main.js"></script>
    
</body>
</html>