{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}samer live{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link id="change-color"  href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="/static/css/mobile.css" media=" screen and (min-width: 900px) and (max-width: 1200px)" rel="stylesheet"  type="text/css" />
    
    </head>
<body>
    <div class="setting b-color-1">
        <span>غيير اللون</span>
        <p id="tow-color" class="b-color-2 color-2"><span id="buttonActive" class="b-color-1"></span></p>
        
    </div>
    <div class="hedar b-color-1">
        <div class="container">
            <div class="logo-img1">
                <img src="../../static/imag/fifa-world-cup.png">
            </div>

            <div class="logo-img">
                <img src="../../static/imag/logoclasico.png">
            </div>
            <div class="logo-img2">
                <img src="../../static/imag/Champions-League.png">
            </div>
        </div>
    </div>
    
    <div class="content color-1">
        <div class="container">
            <div class="message ">

                <ul class="color-1 b-color-2   ">
                    <li class="active">
                       <a href="/">الرئيسية</a> 
                    </li>
                    <li>
                        البث الخاص
                    </li>
                    <li>
                        من نحن
                    </li>
                    <li>
                        ضع أعلاناً
                    </li>
                </ul>
                <div class="soical-media b-color-2 color-1  ">
                    <span>تابعنا</span>
                    <i class="fab fa-facebook active"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-instagram"></i>
                </div>
        
        
            </div>
            <div class="side-bar b-color-1">

            </div>
            <div class="list-match">
                <!------------------------------------------------------------- content blok--------------->
            
                {% block content %}

                {% endblock %}
            
                <!------------------------------------------------------------- content blok--------------->
            </div>
            
            
    </div>
    </div>
    <script src="../../../static/jQuery.js"></script>
    <script src="../../../static/main.js"></script>
    
</body>
</html>