/*.color-1 {
    color: #e90052;
}

.b-color-1 {
    background: #e90052;
}*/

.color-2 {
    color: #04f5ff;
}

.b-color-2 {
    background: #04f5ff;
}


/*------------------------------------------------------------------------------------------*/

.content .side-bar .toggle-button div:hover {
   
    color: #ddd
}

/*-----------------------------------------------------------------------------*/







/*------------------------------------------------------------------------------------*/
.select-day ul .active {
    background: none;
    color: #04f5ff;
 

}

.select-day ul li:hover {
  
    color: #04f5ff;

    cursor: pointer;
}

/*------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------*/
.card-match .card-match-up ul li button:hover {
    color: #fff;
   
    cursor: pointer;
    

    
}
/*------------------------------------------------------------------------------------*/







.select-link ul .active {

    color: #04f5ff;


}

.select-link ul li:hover {

    color: #04f5ff;

}
/*--------------------------------end---select link-------------------------------------------------*/